/*
Theme: Theme Machine
Author: Orchard Team – http://www.orchardproject.net
Copyright: 2010, Orchard. All Rights Reserved
*/


/*  Color Palette
**************************************************************

Background: #fff
Borders: #dbdbdb
Text: #434343
Secondary Text: #999999
Main Accent: #999
Links: #5f97af
*/



/* Reset
***************************************************************/


@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext,cyrillic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: normal;
    font-size: 14px;
    font-family: inherit;
    vertical-align: baseline;
}

/* Remember focus styles! */
:focus { outline: 0; }

ol, ul { list-style: none; }

/* Tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* HTML 5 elements as block */  
header, footer, aside, nav, article { display: block; }



/* Clearing Floats
***************************************************************/

.group:after 
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone:after, .widget-control:after /* .zone:after self clears every zone container - .widget-control:after self clears any floats used in a widget */
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/* General
***************************************************************/

/* Default font settings. 
The font-size 81.3% sets the base font to 13px 

Pixels     EMs         Percent Points
6px     0.462em     46.2%     5pt
7px     0.538em     53.8%     5pt
8px     0.615em     61.5%     6pt
9px     0.692em     69.2%     7pt
10px     0.769em     76.9%     8pt
11px     0.846em     84.6%     8pt
12px     0.923em     92.3%     9pt
13px     1em         100%     10pt
14px     1.077em     107.7%     11pt
15px     1.154em     115.4%     11pt
16px     1.231em     123.1%     12pt
17px     1.308em     130.8%     13pt
18px     1.385em     138.5%     14pt
19px     1.462em     146.2%     14pt
20px     1.538em     153.8%     15pt
21px     1.615em     161.5%     16pt
22px     1.692em     169.2%     17pt
23px     1.769em     176.9%     17pt
24px     1.846em     184.6%     18pt
*/

body  {
  line-height: 1; 
  font-size: 81.3%;
  color: #434343; 
  background: #fff;
  font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Headings */



h3 { font-size: 1.154em; }
h4 { font-size: 1.077em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Aside Headings */
aside h1 { font-size: 1.154em; }
aside h2 { font-size: 1.077em; }
aside h3 { font-size: 1em; }
aside h4 { font-size: 1em; }
aside h5 { font-size: 1em; }
aside h6 { font-size: 1em; }

/* Lists */
li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 1.5em; line-height: 1.538em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Text elements */
p           { margin: 0 0 1em; line-height: 1.538em; }
p img.left  { float: left; margin: 0.923em 0.923em 0.923em 0; padding: 0; }
p img.right { float: right; margin: 0.923em 0 0.923em 0.923em; }

a:focus, 
a:hover     { text-decoration: underline; }
a           { color: #5f97af; text-decoration: none; }

blockquote  { margin: 0.923em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 0.923em; font-style: italic; }
del         { color:#666; }

pre         { margin: 0.923em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.462em; }



/* Forms
***************************************************************/

form              { margin: 0; padding: 0;}
legend            { font-size: 1.231em; font-weight: normal; border:none;}
fieldset          { padding:6px 0 0; margin:0 0 12px 0; border: 0px solid #dbdbdb; }
label             { font-weight:normal; display:block; padding: 0 0 0.3em 0; }
label.forcheckbox { margin:0 0 0 .4em; display:inline; }

input[type="text"], input[type="password"] {
    display: block;
    padding: 0.3em;
}

input[type="checkbox"] {
    margin:.2em 0 1.2em 0;
}

fieldset ol     { list-style-type:none; padding: 0; margin: 0; }
fieldset ol li  { margin: 0 0 6px 0; }

form.inline, form.inline fieldset { /* todo: (heskew) need something other than .inline ... */
    display:inline;
}

form.inline fieldset {
    margin:0;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline:1px dotted #666d51;
}

input[readonly] {
    background-color: #EBEBE4;
    color: #545454;
}

legend span {
    font-weight:normal;
}
label span {
    font-weight:normal;
}
label input {
    vertical-align:text-top;
}
.hint {
    display:block;
    font-size: 0.846em;
    color:#999;
    margin-top: 3px;
    padding: 3px;
}
/* todo: (heskew) try to get .text on stuff like .text-box */
select, textarea, input.text, input.textMedium, input.text-small, input.text-box {
    font-family:inherit;
    padding:3px;
    border:1px solid #bdbcbc;
    font-family:inherit;
    font-size:inherit;
}
input.text, input.textMedium, input.text-box {
    line-height:1.2em;
}
/*Are we using the two classes below?*/
input.text-small, input.text.small {
    width:4em;
}
input.textMedium, input.text.medium {
    width:26em;
}
select {
    padding:1px;	
}
select:focus, textarea:focus, input.text:focus, input.text-box:focus, input.text-small:focus, input.textMedium:focus  {
    border-color:#666d51;
}
input.check-box {
    margin-left:0;
    vertical-align:-.1em;
}
input.large.text, textarea, fieldset {
    clear:both;
}

textarea {
    min-height:8em;
}

/* Structure
***************************************************************/
#layout-wrapper { }

#layout-header, #layout-featured, #layout-before-main, #layout-main, #layout-footer, #layout-after-main, #layout-tripel {
    width:940px;
    margin:0 auto;
}

/* Navigation */
#layout-navigation 
{
    width: 940px;
    padding-top: 30px;

    height: 57px;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid #dbdbdb;
}

 nav ul.menu-main-menu 
{
    padding-right: 30px;
    margin: 0px;
}
 nav ul.menu-main-menu li
    {
        border-right:3px solid #873d8f;
      /*  background:#f6f6f6;*/
        display:block;
        margin:0 2px -1px 0;
    }
    nav > ul.menu-main-menu li.current 
    {
        color: #ffab00;
        border-bottom: 1px solid #fff;
        background:#fff;
    }
    nav > ul.menu-main-menu li.current a
    {
        color: #ffab00;

    }
    nav ul.menu-main-menu li a 
    {
        padding:0 18px;
     /*   display:block;*/
        text-transform: uppercase;
    text-decoration: underline;
   
          font-family: 'Open Sans Condensed', sans-serif;
         color: #873d8f;
        font-size: 14px;
   
      

  font-style: normal;
  font-weight: 800;
 
    }



	
	
	 nav ul.menu-en-main-menu 
{
    padding-right: 30px;
    margin: 0px;
}
 nav ul.menu-en-main-menu  li
    {
        border-right:3px solid #873d8f;
      /*  background:#f6f6f6;*/
        display:block;
        margin:0 2px -1px 0;
    }
    nav > ul.menu-en-main-menu  li.current 
    {
        color: #ffab00;
        border-bottom: 1px solid #fff;
        background:#fff;
    }
    nav > ul.menu-en-main-menu  li.current a
    {
        color: #ffab00;

    }
    nav ul.menu-en-main-menu  li a 
    {
        padding:0 18px;
     /*   display:block;*/
        text-transform: uppercase;
    text-decoration: underline;
   
          font-family: 'Open Sans Condensed', sans-serif;
         color: #873d8f;
        font-size: 14px;
   
      

  font-style: normal;
  font-weight: 800;
 
    }



	





 nav ul.menu-rroducts-menu
{
   
    padding-left: 0;
    width: 319px;
    margin: 0px;
    padding-bottom: 30px;
}
 nav ul.menu-rroducts-menu li
    {
       list-style-type: none;
       background-color: #f8f8f8;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;
       
        height: 67px;
        width: 319px;
        max-width: 320px;
    }
    nav > ul.menu-rroducts-menu li.current 
    {
     list-style-type: none;
        color: #ffab00;
        border-bottom: 1px solid #fff;
      background: url(../Content/Media/Default/Other/selector.png) 98% center no-repeat;
         background-color: #ed9f3b;
         background-position: 99% 50%;
          height: 67px;
          width: 319px;
          
    }
    nav > ul.menu-rroducts-menu li.current a
    {
         
         box-shadow: 0px 1px 1px 0px #aaa inset;
         padding: 20px 17px 0 35px;
         color: #fff;
          text-shadow: 0px 1px #999;
          font-weight: 800;

    }
    nav ul.menu-rroducts-menu li a 
    {
        padding: 20px 17px 0 35px;
        color: #5f97af;
    
       
        float: left;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        
    }

	
	 nav ul.menu-en-products-menu
{
   
    padding-left: 0;
    width: 319px;
    margin: 0px;
    padding-bottom: 30px;
}
 nav ul.menu-en-products-menu li
    {
       list-style-type: none;
       background-color: #f8f8f8;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;
       
        height: 67px;
        width: 319px;
        max-width: 320px;
    }
    nav > ul.menu-en-products-menu li.current 
    {
     list-style-type: none;
        color: #ffab00;
        border-bottom: 1px solid #fff;
      background: url(../Content/Media/Default/Other/selector.png) 98% center no-repeat;
         background-color: #ed9f3b;
         background-position: 99% 50%;
          height: 67px;
          width: 319px;
          
    }
    nav > ul.menu-en-products-menu li.current a
    {
         
         box-shadow: 0px 1px 1px 0px #aaa inset;
         padding: 20px 17px 0 35px;
         color: #fff;
          text-shadow: 0px 1px #999;
          font-weight: 800;

    }
    nav ul.menu-en-products-menu li a 
    {
        padding: 20px 17px 0 35px;
        color: #5f97af;
    
       
        float: left;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        
    }
	
	


nav ul.menu-about-menu
{
    padding-left: 0;
    width: 319px;
    margin: 0px;
    
}
 nav ul.menu-about-menu li
    {
       list-style-type: none;
       background-color: #f8f8f8;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;
       
        height: 67px;
        width: 319px;
        max-width: 320px;
    }
    nav > ul.menu-about-menu li.current 
    {
     list-style-type: none;
        color: #ffab00;
        border-bottom: 1px solid #fff;
        background: url(../Content/Media/Default/Other/selector.png) 98% center no-repeat;
         background-color: #ed9f3b;
         background-position: 99% 50%;
          height: 67px;
          width: 319px;
          
    }
    nav > ul.menu-about-menu li.current a
    {
       
         box-shadow: 0px 1px 1px 0px #aaa inset;
         padding: 20px 17px 0 35px;
         color: #fff;
          text-shadow: 0px 1px #999;
          font-weight: 700;

    }
    nav ul.menu-about-menu li a 
    {
        padding: 20px 17px 0 35px;
        color: #5f97af;
        font-weight: 400;
        float: left;
        
    }


	
	
	nav ul.menu-en-about-menu
{
    padding-left: 0;
    width: 319px;
    margin: 0px;
    
}
 nav ul.menu-en-about-menu li
    {
       list-style-type: none;
       background-color: #f8f8f8;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;
       
        height: 67px;
        width: 319px;
        max-width: 320px;
    }
    nav > ul.menu-en-about-menu li.current 
    {
     list-style-type: none;
        color: #ffab00;
        border-bottom: 1px solid #fff;
        background: url(../Content/Media/Default/Other/selector.png) 98% center no-repeat;
         background-color: #ed9f3b;
         background-position: 99% 50%;
          height: 67px;
          width: 319px;
          
    }
    nav > ul.menu-en-about-menu li.current a
    {
       
         box-shadow: 0px 1px 1px 0px #aaa inset;
         padding: 20px 17px 0 35px;
         color: #fff;
          text-shadow: 0px 1px #999;
          font-weight: 700;

    }
    nav ul.menu-en-about-menu li a 
    {
        padding: 20px 17px 0 35px;
        color: #5f97af;
        font-weight: 400;
        float: left;
        
    }













/* first level */
nav > ul > li { float:right; }
nav > ul > li > a { float:right; }
nav > ul > li:hover > ul { display:block; }
nav > ul > li:hover { }

/* second level */
nav > ul > li > ul { margin: 24px 0px 0px -1px; padding:0px; display:none; position:absolute; border: 1px solid #dbdbdb;}
nav > ul > li > ul > li { list-style-type:none; margin:0px; border: none;}
nav > ul > li > ul > li > a { display:block; text-decoration:none;}
nav > ul > li > ul > li:hover > a { }

nav > ul > li > ul > li:hover > ul { display:block; }

/* third level */
nav > ul > li > ul > li > ul { margin: -20px -1px 0px 90% ; padding:0px; display:none; position:absolute; border: 1px solid #dbdbdb; }
nav > ul > li > ul > li > ul > li { list-style-type:none; margin:0px; border: none;}
nav > ul > li > ul > li > ul > li > a { display:block; text-decoration:none;}
nav > ul > li > ul > li > ul > li:hover > a { }

/* deeper levels */
nav > ul > li > ul > li > ul ul { display:none; }

/* Breadcrumb */
nav ul.breadcrumb 
{
    border:none;
    display: inline-block;
    margin: -9px;
}

    nav ul.breadcrumb li
    {
        border:none;
        background:none;
        display:block;
        margin:0 2px -1px 0;
    }

    nav ul.breadcrumb li:after
    {
        content: "/"
    }
    
    nav ul.breadcrumb li.last:after
    {
        content: ""
    }

        nav ul.breadcrumb li a 
        {
            padding:0 9px;
            display:block;
            color: #5F97AF;
            font-size: 100%;
        }
        
        nav ul.breadcrumb li a:hover
        {
            text-decoration: underline;
        }
        
#layout-header {}
    #branding 
    {   
        font-family: 'Lobster', Tahoma, Arial, Helvetica, sans-serif;
        font-size: 2.9em;
        padding: 0;
        margin: 0;
    }
    #branding a 
    {
        text-decoration:none;
        color: #434343;
    }
#layout-navigation {}
#layout-featured {}
#layout-before-main {}
#layout-main {}
    #aside-first {}
    #layout-content {}
        #messages {}
        #before-content {}
        #content {}
        #after-content {}
    #aside-second {}
#layout-after-main {}
#layout-tripel {}
    #tripel-first {}
    #tripel-second {}
    #tripel-third {}
#layout-footer {}
    #footer-quad {}
        #footer-quad-first {}
        #footer-quad-second {}
        #footer-quad-third {}        
        #footer-quad-forth {}
    #footer-sig {}
    
/* Zones */
.zone 
{
  /*  padding: 12px;*/
    
    /*  Enable this to see zone visualizations
    background-color: yellow;
    box-shadow:inset 0 0 1px purple;
    -moz-box-shadow:inset 0 0 1px purple;
    -webkit-box-shadow:inset 0 0 1px purple;
    */
} 
/*.zone-header { padding: 30px 0 30px 12px; position: relative; }*/
.zone-navigation { padding: 0; }
.zone-featured {}
.zone-before-main {}
.zone-aside-first {}
.zone-messages {}
.zone-before-content {}
.zone-content {}
.zone-after-content {}
.zone-aside-second {}
.zone-after-main {}
.zone-tripel-first {}
.zone-tripel-second {}
.zone-tripel-third {}
.zone-footer-quad-first {}
.zone-footer-quad-second {}
.zone-footer-quad-third {}
.zone-footer-quad-fourth {}
.zone-footer { color: #999999; }



/* Main
***************************************************************/

/* Content lists and details */
.content-description { font-size: 1.154em; }
.content-items { padding: 0; margin: 0; list-style: none; }
.content-items li { padding: 0; margin: 0; }
.content-items .content-item { border-top: 1px solid #dbdbdb; padding: 6px 0 6px 0; }
.content-items .content-item header {}
.content-items .content-item header h1 { font-size: 1.308em; color:#434343; }
.content-items .content-item header h1 a { color: #873d8f; }
.content-items .content-item header h1 a:hover {}

/* Tags */
.tags { margin-top: 12px; }
.tags a { background-color: #dbdbdb; padding: 3px 6px; color: #434343; }
.tags a:hover { background-color: #434343; color: #fff; }

/* Metadata */
.metadata { margin: 0 0 12px 0; color: #999; font-size: 0.846em; }
.metadata .published { display: inline; margin: 0 6px 0 0; }
.metadata .comment-count { display: inline; }
.meta {}

/* Comments */
#comments { margin: 24px 0 0 0; padding: 0; }
.comment-form { margin: 24px 0 0 0; padding: 0; }
.comments { margin: 0; padding: 0; list-style: none; }
.comments li { margin: 12px 0 0 0; padding: 12px; border: 1px solid #dbdbdb; }
.comment { margin: 0; padding: 0; }
.comment h4 { font-size: 1.077em; }
.comment .who {}
.comment .what {}
.comment .reply { float: right;}
.comment #add-comment {}
.comment-form #comment-by { font-size: 1.231em; font-weight: normal; margin: 0 0 1.2em 0; border:none; }
.comment-form .comment-text { width: 33.2em; }
.comment-form input[type="text"] { width: 32em; }
.comment-form li { border: inherit; margin: inherit; padding: inherit}
.comment-disabled {}
.comment-count { font-size: 1.231em; }

/* Confirmations */
.message, .validation-summary-errors { margin:10px 0 4px 0; padding:4px; }
.messages a { font-weight:bold; }
.message-Information { background:#e6f1c9; /* green */ border:1px solid #cfe493; color:#062232; }
.message-Warning { background:#fdf5bc; /* yellow */ border:1px solid #ffea9b; }
.critical.message, .validation-summary-errors, .message-Error { background:#e68585; /* red */ border:1px solid #990808; color:#fff; }


/* Secondary
***************************************************************/

/* Aside Zones */
/* If zone 1 is on */
.aside-1 #layout-content { float: right; width: 600px; }
.aside-1 .aside-first { float: left; width: 340px; }

/* If zone 2 is on */
.aside-2 #layout-content { float: left; width: 600px; }
.aside-2 .aside-second { float: right; width: 340px; }

/* If zones 1, 2 are on */
.aside-12 #layout-content { width: 600px; }
.aside-12 .aside-first, .aside-12 .aside-second { width: 180px; }
.aside-12 .aside-first, .aside-12 .aside-second, .aside-12 #layout-content { float:left; }

/* Tripel Zones*/
#layout-tripel > div { float:left; width:960px; }

/*2 zones on */
.tripel-12 #layout-tripel > div { width:340px; } /* If zones 1, 2 are on */
.tripel-23 #layout-tripel > div { width:480px; } /* If zones 2, 3 are on */
.tripel-13 #layout-tripel > div { width:480px; } /* If zones 1, 3 are on */

/*3 zones on */
.tripel-123 #layout-tripel > div { width:320px; } /* If zones 1, 2, 3 are on */

/* Quad Footer Zones */
#footer-quad > div { float:left; width:235px;  }

/*1 zone on */
.split-1 #footer-quad-first { width:940px; } /* If zone 1 is on */
.split-2 #footer-quad-second { width:940px; } /* If zone 2 is on */
.split-3 #footer-quad-third { width:940px; } /* If zone 3 is on */
.split-4 #footer-quad-fourth { width:940px; } /* If zone 4 is on */

/*2 zones on */
.split-12 #footer-quad-first, .split-12 #footer-quad-second { width:480px; } /* If zones 1, 2 are on */
.split-13 #footer-quad-first, .split-13 #footer-quad-third { width:480px; } /* If zones 1, 3 are on */
.split-14 #footer-quad-first, .split-14 #footer-quad-fourth { width:480px; } /* If zones 1, 4 are on */
.split-23 #footer-quad-second, .split-23 #footer-quad-third { width:480px; } /* If zones 2, 3 are on */
.split-24 #footer-quad-second, .split-24 #footer-quad-fourth { width:480px; } /* If zones 2, 4 are on */
.split-34 #footer-quad-third, .split-34 #footer-quad-fourth { width:480px; } /* If zones 3, 4 are on */

/*3 zones on */
.split-234 #footer-quad-second { width:480px; } /* If zones 2, 3, 4 are on */
.split-134 #footer-quad-first { width:480px; } /* If zones 1, 3, 4 are on */
.split-124 #footer-quad-fourth { width:480px; } /* If zones 1, 2, 4 are on */
.split-123 #footer-quad-third { width:480px; } /* If zones 1, 2, 3 are on */

/*3 zones on - alternate layout*/
/*.split-123 #footer-quad-first, .split-123 #footer-quad-second, .split-123 #footer-quad-third { width:320px; }*/ /* If zones 1, 2, 3 are on */
/*.split-124 #footer-quad-first, .split-124 #footer-quad-second, .split-124 #footer-quad-fourth { width:320px; }*/ /* If zones 1, 2, 4 are on */
/*.split-134 #footer-quad-first, .split-134 #footer-quad-third, .split-134 #footer-quad-fourth { width:320px; }*/ /* If zones 1, 3, 4 are on */
/*.split-234 #footer-quad-second, .split-234 #footer-quad-third, .split-234 #footer-quad-fourth { width:320px; }*/ /* If zones 2, 3, 4 are on */



/* Widgets
***************************************************************/
.widgets {}
.widget h1 { font-size: 1.077em; }

/* Edit Mode Widgets */
/* These are the edit controls that appear when you're logged-in */
.widget-control { position: relative; border: 1px dotted #5f97af; }
.widget-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.widget-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.widget-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }

/* Content Mode */
.content-control { border: 1px dotted #5f97af; overflow:auto; position: relative; }
.content-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.content-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.content-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }



/* Pager
***************************************************************/
/*
.pager { list-style: none; padding: 0; margin: 12px 0 0 0; }
.pager li { float: left; padding: 0 12px 0 0; margin: 0; }
.pager a, .pager span { font-size: 1.077em; display: block; background-color: #dbdbdb; padding: 6px 6px; color: #434343;}
.pager a:hover { background-color: #434343; color: #fff; }
.pager span { background-color:inherit; }
*/

/* Misc
***************************************************************/

.small      { font-size: 0.615em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.231em; line-height: 2.231em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.credits { float: left; }
.user-display { float: left; /*padding: 0 12px;*/ }
.user-display .welcome {}
.user-display .user-actions {}

.login-form { margin: 24px 0 0 0; }



/* CSS 3 Enhancements 
***************************************************************/

input[type="submit"], input[type="button"], button, .button, .button:link, .button:visited {
    color:#333;
    background:#F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#cbcbcb));
    background:-moz-linear-gradient(top , #F5F5F5, #cbcbcb);
    border:1px solid #999;
    cursor:pointer;
    margin:.2em 0 2em 0;
    padding:.3em 1.8em;
    text-align:center;
}

input[type="submit"]:hover, input[type="button"]:hover,
input[type="submit"]:active, input[type="button"]:active,
input[type="submit"]:focus, input[type="button"]:focus,
button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus {
    text-decoration:none; 
    background: #ebebeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ebebeb));
    background:-moz-linear-gradient(top , #e1e1e1, #ebebeb);
}

/* Tag Cloud
***************************************************************/
.tag-cloud li {
    list-style: none;
    display: inline;
}

.tag-cloud-tag-1 {
    font-size: 1em;
}

.tag-cloud-tag-2 {
    font-size: 1.1em;
}

.tag-cloud-tag-3 {
    font-size: 1.2em;
}

.tag-cloud-tag-4 {
    font-size: 1.4em;
}

.tag-cloud-tag-5 {
    font-size: 1.5em;
}

/* blocks.css
    */

.b-header
{
    padding: 34px 33px 29px;
}
.b-header__logo,
.b-footer__logo
{
    background: url(../Content/Media/Default/Other/logo.png) no-repeat;
    width: 110px;
    height: 24px;
   /* background-position-y: center;
    background-position-x: 40px;*/
    background-position: 40px center;
    
    
}

/* START Menu block */
.b-header__menu {
    padding: 7px 10px 0 0;
}
.b-menu {
    max-width: 750px;
}
.b-menu__item,
.b-menu__divider 
{
    float: left;
}
.b-menu__item a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #873d8f;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
}
.b-menu__item a:hover {
    color: #90a8c7;
}
.b-menu__item.active a {
    color: #f7941d;
    text-decoration: none;
}
.b-menu__divider {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 0 20px;
    color: #873d8f;
}
/* END Menu block */

.b-header-border {
    background-color: #e6e7e8;
    height: 7px;
}

.b-footer {
    background-color: #f8f8f8;
    padding: 19px 33px;
    margin: 0 1px 4px;
}
.b-footer__menu {
    padding: 7px 0 0;
}
.b-footer__menu .b-menu__item a,
.b-footer__menu .b-menu__divider 
{
    color: #9d9d9d;
}
.b-footer__menu .b-menu__item a:hover {
    color: #90a8c7;
}
.b-footer__menu .b-menu__item.active a {
    color: #f7941d;
    text-decoration: none;
}
.b-footer-info {
    background-color: #f8f8f8;
    padding: 19px 33px;
    margin: 0 1px;
}
.b-footer-info__soc {
    float: left;
    max-width: 59%;
}
.b-footer-info__soc .adr {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

/* START Socials block */
.b-socials {
    background: url(../Content/Media/Default/Other/socials.png) no-repeat;
    float: left;
    width: 25px;
    height: 24px;
    margin: 0 2px 18px 3px;
}
.b-icon-fb {
    background-position: 0 0;
}
.b-icon-vk {
    background-position: -53px 0;
}
.b-icon-tw {
    background-position: -27px 0;
}
/* END Socials block */

.b-footer-info__contact {
    float: right;
    max-width: 39%;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.b-line {
    position: relative;

    z-index: 2;
}
.b-line_shadow {
    background: url(../Content/Media/Default/Other/slider_shadow.png) 10px -10px no-repeat;
}
.b-about {
    background: url(../Content/Media/Default/Other/dotted-line.png) repeat-y right;
    width: 535px;
    padding-right: 50px
}
.b-info {
    width: 265px;
}

/* START Lang block */
.b-lang {
    background-color: #eeeeee;
   
    /*padding: 10px 25px 14px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}
.b-lang-list__item,
.b-lang-list__divider 
{
    float: left;
    list-style-type: none;
        position: relative;
    top: -10px;
}
.b-lang-list__item a {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    list-style-type: none;
 
}
.b-lang-list__item a:hover {
    color: #90a8c7;
}
.b-lang-list__item.active a {
    color: #f7941d;
    text-decoration: none;
}
.b-lang-list {
    max-width: 250px;
}
.b-lang-list__divider {
    padding: 0 10px;
}
/* END Lang block */

.b-address {
    clear: both;
    padding: 2px 0 0 25px;
}
.b-address__headline {
    color: #006189;
    font-size: 14px;
    margin: 15px 0;
}

/* START Services block */
.b-services-head {
    background: url(../Content/Media/Default/Other/icon_products.png) 55px 60px no-repeat;
    padding: 35px 20px 40px 240px;
}

.b-services-table {
    border-bottom: 3px solid #efeff0;
    border-top: 3px solid #efeff0;
    display: table;
    width: 100%;
}
.b-services-table__column {
    display: table-cell;
    width: 235px;
    height: 580px;
    border: 1px solid #e1f2fd;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;

}
.b-services-table__column:hover {
    border-color: #90a8c7;
}
.b-services-table__column:hover .b-service-title {
    color: #90a8c7; 
}
/*.b-services-table__column:hover .b-service-wrap {
    padding: 1px 30px 1px 29px;
}*/
.b-services-table__column:last-child {
    
}
.b-services-table__column.gray {
    background-color: #f8f8f8;
}
.b-services-table__column.semigray {
    background-color: #fbfbfb;
}
.b-service-wrap {
    padding: 2px 30px;
    display: block;
    text-decoration: none;
}
.b-service-img {
    max-width: 172px;
    max-height: 172px;
    margin: 30px 0 40px;
    display: block;
}
.b-service-title {
    color: #505050;
    text-transform: uppercase;
    font-size: 16px;
    margin: 30px 0 25px;
    line-height: 20px;
}
/* END Services block */

/* START Clients block*/
.b-clients {
    padding: 35px 30px;
}
.b-clients-logo {
    padding: 5px 0 10px;
    display: table;
    width: 100%
}
.b-clients-logo__item {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
}
.b-clients-logo__item img {
    max-width: 140px;
    max-height: 80px;
}
.b-clients-logo__item:last-child {
    margin-right: 0px;
}
/* END Clients block*/

/* START Pages Header block */
.b-page-title {
    height: 118px;
}
.b-page-title.products {
    background: url(../Content/Media/Default/Other/head_products_bgpic.png) no-repeat;    
}
.b-page-title__text {
    padding: 40px 0 40px 105px;
    margin: 0 0 0 45px;
    max-width: 490px;
}
.b-page-title__text.products {
    background: url(../Content/Media/Default/Other/icon_products_smaller.png) -6px 10px no-repeat;    
}
.b-page-title__text.about {
    background: url(../Content/Media/Default/Other/icon_about.png) -6px 10px no-repeat;    
}
.b-lang-wrapper {
    padding: 34px 38px 0 0;
}
/* END Product Header block */

.b-page-line {
    padding: 2px 0 50px;
}

/* START Sidebar block */
.b-sidebar {
    float: left;
    width: 320px;
}
    /* START Sidebar menu block */
    .b-side-menu {
        border-top: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
    }
    .b-side-menu__item {
        background-color: #f8f8f8;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;
        padding: 0 17px 0 35px;
        height: 67px;
    }
    .b-side-menu__item:first-child {
        border-top: none;
    }
    .b-side-menu__item a {
        color: #006189;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        height: 67px;
        margin: 0 auto;
        text-shadow: 0px 1px #fff;
    }
    .b-side-menu__item a:hover {
        
    }
    .b-side-menu__item.active {
        background: url(../Content/Media/Default/Other/selector.png) 98% center no-repeat;
        background-color: #ed9f3b;
        box-shadow: 0px 1px 1px 0px #aaa inset;
    }
    .b-side-menu__item.active a {
        color: #fff;
        font-weight: 700;
        text-shadow: 0px 1px #999;
    }
    /* END Sidebar menu block */
    
    /* START Sidebar map block */
    .b-side-map {
        padding: 8px 35px;
        background: url(../Content/Media/Default/Other/dotted-line.png) repeat-y;
        background-position-x: 100.5%;
    }
    /* END Sidebar map block */

    /* START Sidebar address block */
    .b-side-address {
        padding: 8px 0 0 35px;
        background: url(../Content/Media/Default/Other/dotted-line.png) repeat-y;
        background-position-x: 100.5%;
    }
    .b-address__table {
        color: #333333;
        font-size: 14px;
        margin: 12px 0;
        line-height: 21px;
        max-width: 290px;
    }
    .b-address__table-name {
        width: 75px;
    }
    /* END Sidebar address block */

/* END Sidebar block */

/* START Content block */
.b-page-content {
    float: right;
    width: 510px;
    padding: 20px 65px 0 0;
    overflow: hidden;
}
.b-page-content p,
.b-page-content img
{
    margin: 20px 0;
}
/* END Content block */

/* START about block */
.b-about__headline {
    color: #006189;
    margin: 20px 0;
}
/* END about block */

/* base.css */

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

body {
    background-color: #f9f9f9;
    font-family: 'PT Sans';
}

hr {
    background: url(../Content/Media/Default/Other/orangeline.png) no-repeat;
    height: 3px;
    border: none;
    margin: 0;
}

h1, 
.h1{
    color: #006189;
    font-family: Arial;
    font-size: 24px;
    margin: 20px 0;
}

p {
    color: #333333;
    font-size: 14px;
   /* margin: 12px 0;*/
    line-height: 20px;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}


.semibold {
    font-weight: 500;
}

.bold{
	font-weight: bold;
}

.italic {
    font-style: italic;
}

.g-color-black {
    color: #000;
}

.b-page-layout {
    width: 940px;
    margin: 9px auto 15px;
    box-shadow: 0px 4px 8px 2px #d9d9d9;
    background-color: #fff;
   
}

.g-link {
    color: #00aeef;
    text-decoration: underline;
    font-size: 14px;
}
.g-link:hover {
    text-decoration: none;
}
/* */
/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
/*	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	background: #fff;*/
}

.bx-wrapper .bx-controls-auto {
	position: absolute;
	/*bottom: -30px;*/
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../Content/Media/Default/Other/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    position: absolute;
    left: 50%;
    bottom: 7px;
    padding: 13px 13px 7px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: url(../Content/Media/Default/Other/pager.png) no-repeat;
	display: block;
	width: 10px;
	height: 11px;
	margin: 0 3px;
	outline: 0;
        text-indent: -9999px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-position: -11px 0px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 35px;
	background: url(../Content/Media/Default/Other/controls.png) no-repeat -3px 0px;
}

.bx-wrapper .bx-next {
	right: 35px;
	background: url(../Content/Media/Default/Other/controls.png) no-repeat -73px 0px;
}

.bx-wrapper .bx-prev:hover {
	background-position: -3px -54px;
}

.bx-wrapper .bx-next:hover {
	background-position: -73px -54px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	outline: 0;
	width: 47px;
	height: 48px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../Content/Media/Default/Other/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../Content/Media/Default/Other/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background: #666;
	background: rgba(80, 80, 80, 0.75);
	width: 99%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: 1.35em;
	padding: 20px;
        text-shadow: 0px 2px #000;
}

.b-slide__caption {
    position: absolute;
    top: 88px;
    left: 110px;
    border: 1px solid #c8dbea;
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    max-width: 290px;
    max-height: 160px;
    overflow: hidden;
    font-size: 14px;
    line-height: 19px;
}

.b-slide__caption.right {
	left: initial;
	right: 110px;
}

.b-slide__caption-title {
    line-height: 30px;
    color: #37495f;
    font-size: 24px;
    padding: 0 0 15px;
}
.b-slider {
    position: relative;
}

/* additional */ 
.footerQuater{
    width: 233px;
    height: 600px;

}
.footerQuater p
{
    
    padding-left: 6px;
    padding-right: 6px;
}
.content-control
{
   display: none;
}



.headline
{
    position: absolute;
    top: 88px;
    left: 110px;
    border: 1px solid #c8dbea;
    background-color: rgba(255,255,255,0.8);
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    width:300px;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
    line-height: 19px;
    

}

.headline>a
{
    line-height: 30px;
    color: #37495f;
    font-size: 20px;      
    margin: auto;
    position: absolute;
    top: 0; 
    left: 20px; 
    bottom: 0; 
    right: 0;   
    height: 50%;   
}

 nav > ul.menu-main-menu li.first
{
   border-right: 4px solid #fff;
  
}
article.widget-content
{
    padding: 40px 40px 40px 40px;
}

article.page
{
    display: none;
}

.widget-langbox
{
    position: relative;
    top: 30px;
    right: -40px;
}
.widget-rightcontacts
{
   padding-top: 100px; 
   padding-left: 40px;
}

.widget-EnLanguageBox
{
    position: relative;
    top: 30px;
    right: -40px;
}
.widget-EnRightContactsBox
{
   padding-top: 100px; 
   padding-left: 40px;
}


.widget-contacts
{
    padding-left: 30px;
    padding-top: 30px;
   
}
.bad-divider
{
   visibility: hidden; 
    
}
/*a.activeslide
{
    background: url(../Content/Media/Default/Other/pager.png) -10px -0px no-repeat;
    z-index: 999;
    padding-bottom: 50px;
}*/
.logohomelink
{
    position:absolute;
    top: 35px;
    padding-right:150px;
    padding-bottom:20px;
}


.widget-B2Ctext, .widget-hrmtext, .widget-B2Btext, .widget-bitext, .widget-enbitext, .widget-enHRM, .widget-enB2Ctext, .widget-enB2Btext , widget-bitext, widget-en
{
    min-height: 700px;
}