@{Style.Require("AddThis_Css3StyleButtons").AtHead();}

<div class="sharebar">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_share_btn" 
    addthis:url="@(Model.ViewModel.Link as string)"      
    addthis:title="@(Model.ViewModel.Title as string)">
        <a href="http://addthis.com/bookmark.php" class="addthis_button_compact">    <span>Share</span></a>
    </div>
    <script type="text/javascript">        var addthis_config = { "data_track_clickback": true, "ui_offset_top": 16 };</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=@(Model.ViewModel.Account as string)"></script>
    <!-- AddThis Button END -->
</div>

